.portfolio-box {
  max-width: 2000px;
  margin: auto;
  height: 100vh;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  grid-gap: 2em;
  margin: 3em 0;
}

@media (max-width: 670px) {
  .portfolio-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  }
}
