.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 16px 16px 15px -5px rgba(0, 0, 0, 0.22);
  opacity: 0;
  max-width: 463px;
  // test

}

.project-photo {
  width: 100%;  
  object-fit: cover;
  // background-color: black;
  transition: 300ms linear;
  filter: grayscale(1);
}

.project-container:hover {
  // scale: 1.1;
  .project-photo {
    filter: grayscale(0);
  }
}

.info-box {
  padding: 1.1em;
  display: grid;
  grid-template-rows: max-content auto;
  flex-grow: 1;

  .project-name {
    font-size: 1.3rem;
  }
}

.link-container {
  background-color: var(--primary-background-color);
  width: auto;
  padding: 0.3em 0.6em 0.3em 0.6em;
  margin: 1.25em 0;
  border-radius: 4px;
  // gap: 1em;
  display: flex;
  text-decoration: none;     
  transform: translateX(0);
  .arrow {
    transition: transform 500ms ease-in-out;
    margin-left: .5em;
    position: absolute;
    right: 10px
  }
 
  &:visited {
    color: var(--primary-text-color);
  }
}

.link-container:hover {
  .arrow {
    // to {
      transform: translateX(10px);
    // }
    // from {
      // transform: translateX(0);
    // }
  }
}

.navigation-container {
  margin-top: .5em;
  max-width: 100%;
  align-self: flex-end;
  // display: flex;
  // gap: 1em;
}

@media (max-width: 554px) {
  .project-container {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // background-color: white;
    box-shadow: none;
    opacity: 0;
    max-width: none;
    // test
  
  }

  .info-box {
    padding: 2em;
  }
  
  .project-photo {
    width: 100%;  
    object-fit: cover;
    // background-color: black;
    transition: 300ms linear;
    filter: grayscale(1);
  }
}