:root {
  --primary-text-color: #2A2E28;
  --header-height: 36px;
  --large-breakpoint: 1100px;
  --primary-background-color22222: rgb(42, 46, 40);
  --primary-background-color: #DFE0DF;
  --fallback-background-color: #f1f1f1;
}

*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family:  Helvetica, Arial, sans-serif;
  color: var(--primary-text-color);
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--fallback-background-color);
}

main {
  // max-width: 1100px;
  // margin: 0 2em 2em;
  width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.anchor {
  top: -100px;
  position: relative;
  display: block;
}

.animate-fade-in {
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}