:root {
  --fixed-primary-color: rgb(42, 46, 40);
  --fixed-secondary-color: rgb(246,246,246);
  --header-height: 36px;
  --fixed-primary-background-color: rgb(223, 224, 223);
  --main-bg-dark: rgb(58, 63, 55);
  --main-bg-light: rgb(240, 241, 241);
  --secondary-bg-dark: rgb(42, 46, 40);
  --secondary-bg-light: rgb(225, 225, 225);
}

[data-theme='light'] {
  --primary-color: rgb(42, 46, 40);
  --secondary-color: rgb(246,246,246);
  --primary-background-color-trans: rgb(223, 224, 223, 0.5);
  --primary-background-color: rgb(223, 224, 223);
  --fallback-background-color: rgb(240, 241, 241);
  --hover-background-color: rgb(209,209,209);
  --hover-background-color-secondary: rgb(72, 76, 70);
}

[data-theme='dark'] {
  --primary-color: rgb(246,246,246);
  --secondary-color: rgb(42, 46, 40);
  --primary-background-color-trans: rgb(42, 46, 40, 0.5);
  --primary-background-color: rgb(62, 67, 59);
  --fallback-background-color: rgb(42, 46, 40);
  --hover-background-color: rgb(52, 59, 50);
  --hover-background-color-secondary: rgb(209,209,209);
}

*,
*::after,
*::before,
input, 
textarea {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family:  Helvetica, Arial, sans-serif;
  color: var(--primary-color);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html, body {
  overflow-x: clip;
}

.App {
  position: relative;
}

.background-img::after {
  content: "";
  display: block;
  animation: slideDown 1s ease-in-out;
}

main {
  width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.anchor {
  top: -132px;
  position: relative;
  display: block;
}

.animate-fade-in {
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}