:root {
  --primary-color: rgb(42, 46, 40);
  --header-height: 72px;
  --large-breakpoint: 1100px;
  --primary-background-color: rgb(42, 46, 40);
}

*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

main {
  // max-width: 1100px;
  margin: 0 2em 2em;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.anchor {
  top: -100px;
  position: relative;
  display: block;
}

.animate-fade-in {
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}