:root {
  --primary-color: rgb(42, 46, 40);
  --secondary-color: rgb(246,246,246);
  --header-height: 36px;
  --primary-background-color-trans: rgb(223, 224, 223, 0.5);
  --primary-background-color: rgb(223, 224, 223);
  --fallback-background-color: rgb(240, 241, 241);
  --hover-background-color: rgb(209,209,209);
}

*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family:  Helvetica, Arial, sans-serif;
  color: var(--primary-color);
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.App {
  position: relative;
}

.background-img {
  z-index: 0;
  background: url('../../bg.svg') var(--fallback-background-color);
}


.background-img::after {
  content: "";
  display: block;
  animation: slideDown 1s ease-in-out ;
}

main {
  width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button:hover {
  cursor: pointer;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.anchor {
  top: -100px;
  position: relative;
  display: block;
}

.animate-fade-in {
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}