.about-container {
  max-width: 1430px;
  // width: 100%;
  margin: auto;
  min-height: calc(100vh - var(--header-height) - 28px);
  // height: auto;
  padding: 0 2em 0 2em;
  display: flex;
  // grid-template-columns: repeat(auto-fit, minmax(230px, max-content));
  align-items: center;
  gap: 2em;
  justify-content: center;
  // justify-self: center;
  .about-content {
    transform: translateY(-32px);
  }


  h2 {
    font-size: 3.75rem;
    margin-bottom: .5em;
  }

  p {
    font-size: 1.3rem;
    max-width: 920px;
  }

  // article {
  //   max-width: fit-content;
  // }

  .shrink-text {
    font-size: 1.1rem;
    max-width: 80%;
    text-align: center;
    margin: auto;
  }
}

.profile-img-container {
  
  // background-color: bisque;

  // .profile-img {
    width: 100%;
    max-width: 430px;
    min-width: 375px;
  height: auto;
  max-height: 600px;
    // height: 100%;
    // padding: 0 2em 0 0;
    // margin: 0 2em 0 0;
  // }
}

@media (max-width: 1000px) {
  .about-container {
    // min-width: 550px;
    h2 {
      font-size: 2.75rem;
    }
  
    p {
      font-size: 1rem;
    }

    .shrink-text {
      font-size: .9rem;
    }

    article {
      margin: 2em;
    }
  }
 
  .profile-img-container {
    // .profile-img {
      // min-width: auto;
      // width: 50%;
     
    // }
  }
}

@media (max-width: 810px) {
  .about-container {
    // min-width: 90%;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
  }

  .about-content {
    padding: 2em;
  }

  .profile-img-container {
    width: 100%;
    max-width: inherit;
    min-width: fit-content;
  // }
}
}

@media (max-height: 400px) {
  .about-container {
    // min-height: 100vh;
    padding: 0 0 1.5em 0;
    transform: translateY(0);
  }
}

@media (max-width: 374px) {
  .about-container {
    h2 {
      font-size: 1.4rem;
    }
  }
}