.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  transform: translateY(-64px);
  margin: auto;
}

.icon-container {
  display: flex;
  margin: 1em 0;
  gap: 3em;
}

.contact-link {
  transition: fill 300ms ease-in-out, transform 300ms ease-in-out;
  fill: var(--primary-color);
}

.contact-link:hover {
  cursor: pointer;
  fill: var(--hover-background-color-secondary);
  transform: scale(1.02);
}

.sub-title-contact {
  font-size: 2rem;
}

@media (max-height: 440px) {
  .contact-container {
    transform: translateY(0);
  }
}