header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

.menu-btn {
  --button-color: #232;
  padding: .8em .4em;
  border-radius: 8px;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .2em;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  z-index: 1;

  &.undefined :is(.top, .bottom) {
    animation: none;
  }

  &.closed :is(.top, .bottom) {
    animation: to-open-icon 700ms forwards;
  }

  &.opened :is(.top, .bottom) {
    animation: to-close-icon 700ms forwards;
  }

  .hamburger {
    transition: rotate 500ms 100ms;
  }

  &.opened .hamburger {
    rotate: 1turn;
  }

  .line.top {
    --rotation: -45deg;
    transform-origin: 75px 29px;
  }

  &[aria-expanded='true'] .line.middle {
    transition: 1s;
    opacity: 0;
  }

  &[aria-expanded='false'] .line.middle {
    transition: 1s;
  }

  .line.bottom {
    --rotation: 45deg;
    transform-origin: 75px 53px;
  }
}

.sidebar {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: antiquewhite;
  transition: all 500ms ease-in-out;
  translate: 100%;
  position: absolute;
  right: 0;

  .nav-link-container {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    margin: 0 4rem;

    .menu-link {
      transition: all 900ms ease-in-out;
      opacity: 0;
      text-decoration: none;
      font-size: 1.4rem;
    }

    .menu-link:visited,
    .menu-link:active {
      color: var(--primary-color);
    }
  }
}

.sidebar[aria-expanded='true'] {
  translate: 0;

  .menu-link {
    opacity: 1;
    translate: -30px;
  }
}

.sidebar[aria-expanded='false'] {
  .menu-link {
    &:nth-child(1) {
      translate: 15px;
    }

    &:nth-child(2) {
      translate: 30px;
    }

    &:nth-child(3) {
      translate: 45px;
    }

    &:nth-child(4) {
      translate: 60px;
    }
  }
}

@keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}

@keyframes to-open-icon {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
  }
}