.header {
  position: relative;
  top: 0;
}

.menu-btn {
  --button-color: #232;
  padding: .5em;
  // border: none;
  border-radius: 8px;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

.menu-btn.undefined :is(.top, .bottom) {
  animation: none;
}

.menu-btn.closed :is(.top, .bottom) {
  animation: to-open-icon 1s forwards;
}

.menu-btn.opened :is(.top, .bottom) {
  animation: to-close-icon 1s forwards;
}

.menu-btn .hamburger {
  transition: rotate 800ms 100ms;
}

.menu-btn.opened .hamburger {
  rotate: 1turn;
}

.menu-btn .line.top {
  --rotation: -45deg;
  transform-origin: 75px 29px;
}

.menu-btn[aria-expanded='false'] .line.middle {
  transition: 1s;
  opacity: 0;
}

.menu-btn[aria-expanded='true'] .line.middle {
  transition: 1s;
}

.menu-btn .line.bottom {
  --rotation: 45deg;
  transform-origin: 75px 53px;
}

@keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    stroke-dashoffset: 79.9;
    rotate: calc(var(--rotation));
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}
@keyframes to-open-icon {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
  }
}